@tailwind base;
@tailwind components;
@tailwind utilities;


#tree {
	overflow: auto;
	height  : calc(100vh - 56px)
}

.jstree-default .jstree-themeicon-custom
{
	background-size: 16px!important;
}

/* remove tree left margin */
.jstree-default > .jstree-container-ul > .jstree-node
{
	margin-left: -24px!important;
}

/* selected node */
.jstree-default .jstree-clicked {
  background: #121c39!important;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #1f44a7!important;
  color: #1f44a7!important;
}

.jstree-default .jstree-hovered {
	background   :#1c2e63!important;
	border-radius:2px;
	box-shadow   :inset 0 0 1px #1f44a7!important;
	color: #979fb4!important;
}

#info
{
	display      : none;
	background   : #0c1824;
	color        : #124c89;
	border-radius: 5px;
	margin       : 10px;
	padding      : 4px;
}

#info [id^='i_']
{
	color: #0093ff;
}


/*                            __
   ________  ____ ___________/ /_
  / ___/ _ \/ __ `/ ___/ ___/ __ \
 (__  )  __/ /_/ / /  / /__/ / / /
/____/\___/\__,_/_/   \___/_/ /_/
*/
.jstree-default .jstree-search {
	font-style : italic;
	color      : #4193fe!important;
	font-weight: normal!important;
}

#tree_search::placeholder{
	color: #334564;
}
#tree_search{
	border       : 1px solid #1f44a7;
	border-radius: 5px;
	background   : #121c39;
	margin-top   : 5px;
	margin-bottom: 5px;
	width        : 100%;
	color        : #1f44a7;
	outline      : none;
	
	background         : url(search.png) no-repeat;
	background-size    : 16px 16px;
	background-position: 5px;
	padding-left       : 25px;
}

/* context menu */
.vakata-context, .vakata-context ul {
	margin    : 0;
	padding   : 2px;
	position  : absolute;
	background: transparent!important;
	border    : none!important;
	box-shadow: none!important;
}

.vakata-context .vakata-context-hover > a {
  position: relative;
  background-color: #253872!important;
  box-shadow: 0 0 2px #0a6aa1;
}

.vakata-context li > a {
	display        : block;
	padding        : 0 2em 0 2em;
	text-decoration: none;
	width          : auto;
	color          : #2c94b4!important;
	background     : #121c39!important;
	white-space    : nowrap;
	line-height    : 2.4em;
	text-shadow    : none!important;
	border-radius  : 1px;
}

/*.vakata-context li > a .vakata-contextmenu-sep {
  display: inline-block;
  width: 1px;
  height: 2.4em;
  background: #144861!important;
  margin: 0 .5em 0 0;
  border-left: 1px solid #215584!important;
}
*/
.vakata-context li > a:hover {
	position        : relative;
	background-color: #152b44!important;
	box-shadow      : none!important;
}


.vakata-context li > a .vakata-contextmenu-sep {
	display    : inline-block;
	width      : 1px;
	height     : 2.4em;
	background : #232323!important;
	margin     : 0 .5em 0 0;
	border-left: 1px solid #050e0e!important;
}
.vakata-context .vakata-context-separator > a, 
.vakata-context .vakata-context-separator > a:hover
{
	background       : #0e335a!important;
	border           : 0;
	border-top-color : currentcolor;
	border-top-style : none;
	border-top-width : 0px;
	border-left-color: currentcolor;
	border-left-style: none;
	border-left-width: 0px;
	border-top       : 1px solid #0e335a!important;
	height           : 1px;
	min-height       : 1px;
	max-height       : 1px;
	padding          : 0;
	margin           : 0 0 0 2.4em;
	border-left      : 1px solid #0e335a!important;
	text-shadow      : 0 0 0 transparent;
	box-shadow       : 0 0 0 transparent;
	border-radius    : 0;
}

/*
   ____ ___  ___  ____  __  __
  / __ `__ \/ _ \/ __ \/ / / /
 / / / / / /  __/ / / / /_/ /
/_/ /_/ /_/\___/_/ /_/\__,_/
*/
li:has(#imp) {
	padding      :5px 10px;
	/* background:#00ad2d;*/
	border       :1px solid #00ad2d;
	position     :relative;
	color        :#fff;
	border-radius:2px;
	text-align   :center;
	float        :left;
	cursor       :pointer
}
#imp{
	position : relative;
	z-index  : 1000;
	opacity  : 0;
	cursor   : pointer;
	left     : 0;
	top      : 0;
	height   : 20px;
	font-size: 24px;
	width    : 24px;
}

#menu > li
{
	background-size: 24px 24px;
	height: 24px;
	width: 24px;
	cursor: pointer;
}
#menu .import { background-image: url(import.png); }
#menu .export { background-image: url(export.png); }
#menu .create { background-image: url(create.png); }
#menu .delete { background-image: url(delete.png); }
#menu .select { background-image: url(select.png); }
#menu .option { background-image: url(option.png); }
